body {
	background : #145E5B;
	padding : 0%;
	border : 0px;
	margin-right : 0px;
	margin-left : 0px;
}

.menu_elem {
	
	background-color : #145E5B;
	margin-left : 0px;
	margin-right : 0px;
	padding : 10px;
	padding-left : 20px;
	text-decoration : none;
	
}

.menu_elem:hover {
	cursor : pointer;
}
h1 {
	text-align : center;
	height : 8%;
	vertical-align : middle;
}

h2 {
	padding-left : 10px;
	margin-left : 0px;
}

a {
	text-decoration : none;
	color : #000000;
}

a:hover {
	color : #000000;
}
