body {
	background : #145E5B;
	padding : 0%;
	border : 0px;
	margin-right : 0px;
	margin-left : 0px;
}

.menu_elem {
	
	background-color : #145E5B;
	margin-left : 0px;
	margin-right : 0px;
	padding : 10px;
	text-decoration : none;
	
}

h1 {
	text-align : center;
}

a {
	text-decoration : none;
	color : #000000;
}

a:hover {
	color : #000000;
}
